.top-navbar, .navbar, ul.dropdown-menu.show{
    background: var(--nav-color);
}

.top-navbar{
height: 34px;
border-bottom: 1px solid #495057;
z-index: 1040;
}

.top-navbar a, .top-navbar p{
    color: var(--secondary-color);
    font-size: 17px;
    
}

.navbar a{
    font-family: 'Lexend', sans-serif;
    color: var(--secondary-color);
    font-size: 21px;
    font-weight: 300;
}

.top-navbar a:hover, .navbar a:hover, .nav-link:focus{
    color: var(--primary-color);
}


.navbar{
margin-top: 34px;
}

.navbar-toggler{
  color: var(--primary-color);
  border-color: var(--primary-color);
}

.navbar-toggler:focus{
  box-shadow: none;
}

.navbar-nav .nav-item a.nav-link.active{
  color:var(--primary-color);
}

#ikone, #search-icon{
  color:var(--primary-color);
}

.search-box {
  position: absolute;
  top: 100%;
  right: 0;
  background: rgba(255, 255, 255, 0.95);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
}

@media (min-width: 768px) {
  .search-box {
    position: fixed; 
    top: 95px; 
  }
}

@media (max-width: 767px) {
  .width-search {
    margin-top: 143px;
  }
}

.navbar-nav .nav-link.show {
    color: var(--primary-color) !important;
}

.cart-badge{
  font-size: 12px;
  position: absolute;
  margin-top: -10px;
  margin-left: -3px;
}  

.btn-user{
  background: none;
  border: none;
  margin-top: -2px;
  color: var(--secondary-color);
}

.btn-user:hover{
  color: var(--primary-color);
}

.search-button{
  background: none;
  border: none;
  font-size: 18px;
}

.dropdown-divider{
  background-color: #495057;
}

.dropdown-item:hover,
.dropdown-item:focus {
  background-color: #d2d2d2 !important; /* Boja na hover */
  color: var(--h-color) !important;
}

.dropdown-item{
  font-size: 18px;
}

.close-btn {
  position: absolute;
  filter: invert(1);
  top: 4.5rem;
  right: 1rem;
  z-index: 1050;
  padding-left: 50px;
}


