.footer{
    background-color: var(--footer-color);
    position: relative;
    width: 100%;
  }
  
  .footer-bottom{
    border-top: 1px solid #E0E0E0;
    padding-top: 25px;
    padding-bottom: 20px;
  }
  
  .footer-bottom a{
    font-size: 24px;
    color: var(--h-color);
    margin-right: 10px;
  }