.categories-list.list-group {
    --bs-list-group-bg: var(--footer-bg-color);
}

.subcategories-list.list-group {
    --bs-list-group-bg: var(--footer-bg-color);
}

.rotate-icon {
    transform: rotate(90deg);
}

.active-category {
    background-color: #f9f5f2; /* nježno highlight bez oštrine */
    font-weight: 500;
    color: var(--primary-color); /* nježna primarna boja */
  }
  
  .active-subcategory {
    background-color: #f5f5f5; /* gotovo bijelo, ali dovoljno da se istakne */
    font-weight: 500;
    color: var(--primary-color);
  }
  
  