.mobile-subcategories-slider{
    background-color: var(--footer-bg-color);
    padding-bottom: 4px;
    margin-top: 5px;
}

.subcategory-name {
    font-size: 15px;
    padding: 8px 12px;
    margin: 0 2px;
    background-color: #f5f5f5;
    border-radius: 8px; 
}

.active-mobile-subcategory {
    color: var(--primary-color);
  }

