.mobile-categories-slider{
    height: 100px;
    background-color: var(--footer-bg-color);
}
  
h3.category-name {
    font-size: 15px;
}

.active-mobile-category { 
    color: var(--primary-color);
    border-radius: 6px;
    font-weight: 600;
  }
  