.mobile-subcategories-slider{
    background-color: var(--footer-bg-color);
}

.mobile-subcategories-slider{
    padding-bottom: 4px;
}


.subcategory-name {
    font-size: 15px;
    padding: 8px 12px;
    margin: 0 2px;
    background-color: #f5f5f5;
    border-radius: 8px; 
}


