.mobile-categories-slider{
    height: 107px;
    background-color: var(--footer-background-color);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
}
  
h3.category-name {
    font-size: 15px;
}

.active-mobile-category { 
    color: var(--primary-color);
    font-weight: 600;
}
  