.products.card {
    width: 100%;
    height: 100%;
    min-height: 270px;
    max-width: 210px;
    display: flex !important;
    cursor: pointer;
    position: relative;
}

.products.card:hover {
    transform: scale(1.002);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.20);
}

.products.card .card-img-top {
    height: 130px;
    object-fit: contain;
    margin-bottom: 5px;
}

.product-description-3 h4 {
    font-size: 0.9rem;
}

.quantity-btn {
    font-size: 16px;
}

.quantity-btn-front {
    font-size: 22px;
}

.quantity-input {
    width: 50px;
    height: 38px;
    text-align: center;
    font-size: 1rem;
    color: #000;
    border: 1px solid #ccc;
    border-radius: 8px;
}

input.quantity-input:focus-visible {
    outline: none;
}

.quantity-input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Poboljšani stil za toast notifikacije */
.toast {
    font-size: 12px;
    max-width: 150px;
    transform: translateX(-6%);
    position: absolute;
    bottom: 60px;
    z-index: 10;
    border-radius: 4px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
    opacity: 0.95;
    transition: opacity 0.3s ease;
}

.toast.show {
    animation: fadeInOut 1s ease;
}

.toast.bg-success {
    background-color: #198754!important;
}

.toast.bg-warning {
    background-color: #d34a18f5 !important;
}

.toast-body {
    padding: 0.5rem 0.75rem !important;
    font-weight: 500;
    letter-spacing: 0.2px;
}

@keyframes fadeInOut {
    0% { opacity: 0; transform: translateY(10px) translateX(-6%); }
    10% { opacity: 0.95; transform: translateY(0) translateX(-6%); }
    90% { opacity: 0.95; transform: translateY(0) translateX(-6%); }
    100% { opacity: 0; transform: translateY(10px) translateX(-6%); }
}