.weather-card {
    margin-top: 20px;
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.1);
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
    max-width: 230px;
    width: 100%;
  }
  
  .weather-card h5 {
    margin-bottom: 0.3rem;
    color: var(--h-color);
  }
  
  .weather-card p {
    font-size: 0.9rem;
    color: #555;
    margin: 0.4rem 0;
  }
  
  .weather-card img {
    width: 48px;
    height: 48px;
  }
  