.weather-card {
  margin-top: 20px;
  padding: 1rem;
  background-color: var(--footer-bg-color);
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
  max-width: 230px;
  width: 100%;
  border-radius: 4px;
}

.weather-card h5 {
  font-family: "Lexend", sans-serif;
  margin-bottom: 0.3rem;
  color: var(--h-color);
}

.weather-card p {
  font-size: 0.9rem;
  color: var(--h-color);
  margin: 0.4rem 0;
}

.weather-card img {
  width: 48px;
  height: 48px;
}

/* Novi stilovi za prikaz ikone i temperature u istom redu */
.weather-icon-temp {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}

.weather-icon-desktop {
  width: 48px;
  height: 48px;
  margin-right: 10px;
}

.temperature-display {
  font-size: 0.9rem;
  color: var(--h-color);
}