.type, .diet, .ingredient, .difficulty{
    font-size: 14px;
    font-weight: 500;
    border-radius: 3px;
    padding: 3px 4px;
    text-shadow: 0px 0px 0.7px black, 
                 0px 0px 0.7px black, 
                 0px 0px 0.7px black,
                 0px 0px 0.7px black,
                 0px 0px 0.7px black, 
                 0px 0px 0.7px black;
    color: var(--secondary-color);
    line-height: 1.2;
    margin: 2px;
}

@media (min-width: 768px) {
    .type,
    .diet,
    .ingredient,
    .difficulty {
      font-size: 15px;
    }
  }


.type{  
    background-color: rgb(239, 126, 73); 
}

.diet{
    background-color: rgb(65, 151, 111);

}

.ingredient{
    background-color: rgb(218, 77, 77);
}

.difficulty{
    background-color: rgb(230, 186, 33);
}


  
