@media (min-width: 576px) {
    .blog-img {
      max-width: 240px;
      height: 170px;
      overflow: hidden;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  
    .cover-img {
        width: 100% !important;
        height: 160px;
        object-fit: cover;
        border-radius: 4px;
        display: block;
    }
  }
  