.transition-icon {
    transition: transform 0.3s ease;
    font-size: 0.9rem;
  }
  
.transition-icon.rotate {
transform: rotate(-180deg);
}

.bookmark-toggle-details{
  position: absolute;
  top: 10px;
  left: 10px;
  transition: transform 0.2s ease;
  font-size: 25px;
  color: white;
}
  